.aside {
   padding-top: 70px;
}

.search-label--display {
   display: none;

   @media screen and (min-width: 1200px) {
      display: block;
   }
}

.article-wrapper {
   width: 315px;
   margin: 0 auto;
}

.article-wrapper:nth-child(3) {
   margin-bottom: 100px;
}

.article-wrapper:nth-child(n + 4) {
   margin-bottom: 60px;
}

.article-wrapper:nth-child(6) {
   margin-bottom: 70px;
}

.aside__subtitle {
   position: relative;
   @include font(300, 24px, 1.42);
   text-align: center;
   margin-bottom: 35px;
}

.aside__subtitle--indent {
   text-align: left;
   margin: 0 0 15px 10px;
}

.aside__subtitle--bell::before {
   background-image: url(/images/bell.svg);
}

.aside__subtitle--wifi::before {
   background-image: url(/images/wifi.svg);
}

.aside__subtitle--bell::before,
.aside__subtitle--wifi::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 43px;
   height: 41px;
}

.aside-list {
   position: relative;
   list-style: url(/images/list-style.svg);
   width: 303px;
   margin-left: auto;
}

.aside-list::after {
   position: absolute;
   bottom: -30px;
   left: -12px;
   content: "";
   border-bottom: 1px solid #ebeced;
   width: 315px;
}

.aside-list__item {
   @include font(400, 14px, 1.57);
   color: $secondary-text-color;
}

.aside-list__item:not(:last-child) {
   margin-bottom: 15px;
}
