.featured-section {
   padding-top: 30px;
}

.featured-wrapper {
   border: 1px solid #d7d8d9;
   border-radius: 6px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.101961) 0px 8px 16px;

   @media screen and(min-width:1200px) {
      display: flex;
      height: 400px;
   }
}

.featured-img {
   width: 335px;
   height: 223px;
   margin-bottom: 25px;

   @media screen and(min-width:1200px) {
      width: 600px;
      height: 400px;
      margin: 0;
   }
}

.text-box {
   width: 275px;
   margin: 0 auto;

   @media screen and (min-width: 1200px) {
      width: 480px;
      margin: 0 auto;
      padding: 60px 0 40px;
   }
}

.description-text {
   @include font(300, 24px, 1.42);
   margin-bottom: 15px;

   @media screen and(min-width:1200px) {
      margin-bottom: 85px;
   }
}

.author-text {
   @include font(400, 14px, 1.57);
   color: $secondary-bg-color;
   margin-bottom: 12px;
}

.author-element {
   margin-left: 8px;
   color: $third-text-color;
}

.comment-box {
   display: flex;
   align-items: center;
   margin-bottom: 14px;

   @media screen and(min-width:1200px) {
      margin: 0;
   }
}

.comment-icon {
   width: 16px;
   height: 16px;
   stroke: $footer-text-color;
   fill: $main-bg-color;
   margin-right: 9px;
   stroke-width: 1px;

   @media screen and(min-width: 1200px) {
      width: 11px;
      height: 11px;
      stroke-width: 1.5px;
   }
}

.comment-link {
   @include font(400, 14px, 1.57);
   color: $footer-text-color;
   transition: color 250ms ease;

   &:hover,
   &:focus {
      color: $elements-color;
   }
}
