.posts-section {
   padding-top: 40px;
}

.posts-title {
   @include font(300, 32px, 1.38);
   margin-bottom: 40px;
}

.posts-wrapper {
   position: relative;
   padding-bottom: 45px;
   margin-bottom: 20px;

   @media screen and (min-width: 1200px) {
      display: flex;
      width: 780px;
      padding-bottom: 30px;
      margin-bottom: 30px;
   }
}

.posts-wrapper::after {
   position: absolute;
   content: "";
   left: 10px;
   bottom: 0;
   height: 1px;
   width: 315px;
   border: 1px solid #ebeced;

   @media screen and (min-width: 1200px) {
      left: 0;
      width: 100%;
   }
}

.posts-wrapper:nth-last-child(-n + 4) {
   display: none;

   @media screen and (min-width: 1200px) {
      display: flex;
   }
}

.posts-wrapper:nth-child(4) {
   margin-bottom: 60px;
}

.posts-img {
   width: 315px;
   height: 200px;
   margin: 0 auto 20px;

   @media screen and (min-width: 1200px) {
      width: 280px;
      height: 180px;
      margin: 0 40px 0 0;
   }
}

.posts-box {
   width: 315px;
   margin: 0 auto;

   @media screen and (min-width: 1200px) {
      width: 445px;
   }
}

.posts-text:nth-child(odd) {
   margin-bottom: 12px;

   @media screen and (min-width: 1200px) {
      margin-bottom: 7px;
   }
}

.posts-text:nth-child(even) {
   margin-bottom: 8px;
}

.posts-list {
   flex-wrap: wrap;

   @media screen and (min-width: 1200px) {
      margin-bottom: 8px;
   }
}

.posts-btn {
   display: block;
   width: 315px;
   margin: 0 auto;
   padding: 10px 0;
   color: $elements-color;
   background-color: $main-bg-color;
   border: 1px solid $elements-color;
   transition: all 250ms ease;

   &:hover,
   &:focus {
      cursor: pointer;
      color: $main-bg-color;
      background-color: $elements-color;
   }
}
