.links-list {
   display: flex;
   margin-bottom: 12px;
}

.links-list__item:not(:last-child) {
   margin-right: 5px;
}

.links-list__link {
   @include font(400, 12px, 1.33);
   text-transform: uppercase;
   color: $elements-color;
   transition: opacity 250ms ease;

   &:hover,
   &:focus {
      cursor: pointer;
      opacity: 0.8;
   }
}
