body {
   font-family: "Roboto", sans-serif;
   font-size: $primary-font-size;
   color: $primary-text-color;
   background-color: $main-bg-color;
   font-style: normal;
}

h1,
h2,
h3,
p,
ul {
   margin: 0;
}

ul {
   padding: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}
