$primary-text-color: #22252e;
$secondary-text-color: #323642;
$third-text-color: #889099;
$elements-color: #4cb649;
$main-bg-color: #ffffff;
$secondary-bg-color: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
$primary-font-size: 14px;
